.root{
   border: 1px solid black;
   margin: 20% 30%;
}

.container{
    margin: 3% 0%;
    display: flex;
    flex-direction: column;
}


.divComponent{
 display: flex;
 justify-content: flex-start;
}

.head{
    background-color: rgb(204, 197, 197);
    margin-top: 0px;
    padding: 10px;
}

.Label1{
    margin: 1% 3% 2% 2%;
    width: 20%;    
}

.Label{
    margin: 1% 3% 2% 2%;
    width: 14%;    
}

.hr{
    color: 1px solid black;
}

.input{
    margin: 1% 3% 1% 5%;
    width: 70%;    
}

.input1{
    margin: 1% 3% 1% 5%;
    width: 20%;    
}


.checkbox{
    margin: 1% 3% 1% 5%;
    width: 17%;
}

.radios1{
    margin: 1% 3% 1% 5%;
    min-width:20%;
}

.radios{
    margin: 1% 3% 1% 5%;
    min-width:61%;
}

.labalRadio{
    margin: 2%;
}

.border{
    border-top: 1px solid black;
}
.button{
    width: 4rem;
    height: 2rem;
    margin: 4%;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    margin: 1% 5% 0% 70%;
   
}